html,
body {
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

/* Grid */
/* TODO: use flexbox */
.row {
  margin: 5% auto;
}

@media only screen and (min-width: 320px) { .col-8.formContainer { width: 100%; }}
@media only screen and (min-width: 600px) { .col-8.formContainer { width: 87.33%; }}
@media only screen and (min-width: 768px) { .col-8.formContainer { width: 38%; }}
@media only screen and (min-width: 1152px) { .col-8.formContainer { width: 25.33%; }}
@media only screen and (min-width: 2016px) { .col-8.formContainer { width: 12.66%; }}

/* Links */
a {
  color: hsl(190, 50%, 50%);
  font-weight: 300;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.optionLinkContainer {
  display: inline-block;
  width: 100%;
}

.signupLinkContainer {
  text-align: right;
  width: 50%;
}

.forgotLinkContainer {
  float: left;
  width: 50%;
  /*display: none;*/
}

.clearContainer {
  clear: both;
  height: 0%;
}

/* Form inputs and labels */
input {
  height: 32px;
  font-size: 1em;
  border-radius: 3px;
  border-width: 1px;
  border-color: hsl(0, 0%, 85%);
  border-style: solid;
  text-indent: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #85BFFD;
  border-width: 1px;
}

.invalid-input {
  border-color: red;
}

label {
  font-weight: 500;
}

::-webkit-input-placeholder {
  font-weight: 300;
}

:-ms-input-placeholder {
  font-weight: 300;
}

::-ms-input-placeholder {
  font-weight: 300;
}

.labelContainer {
  margin-bottom: 2%;
}

.inputContainer {
  margin-bottom: 5%;
}

.optional-field-notification {
  /*font-weight: 300;*/
  font-size: 0.75em;
  color: gray;
}

/* Buttons */
.btn {
  height: 40px;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: hsl(190, 60%, 50%);
  border: 0px;
  font-size: 1.25em;
  color: white;

  /* for button press effect */
  /*box-shadow: 0px 4px 1px gray;*/
  /*position: relative;*/
}

button:hover {
  animation: darken;
  animation-fill-mode: forwards;

  /* button press effect */
  /*top: 4px;*/
  /*box-shadow: 0px 0px;*/
}

@keyframes darken {
  from { background-color: hsl(190, 60%, 50%); }
  to { background-color: hsl(190, 60%, 40%); }
}

/* Other form elements */
legend {
  text-align: left;
  font-weight: 500;
}

fieldset {
  border-style: solid;
  border-color: hsl(0, 0%, 85%);
  border-top-color: hsl(190, 65%, 50%);
  border-top-width: 5px;
  border-width: 0px;
}
