html,
body {
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

/* Grid */
/* TODO: use flexbox? */
.row {
  margin: 5% auto;
}

@media only screen and (min-width: 320px) { .col-8.form-container { width: 100%; }}
@media only screen and (min-width: 600px) { .col-8.form-container { width: 87.33%; }}
@media only screen and (min-width: 768px) { .col-8.form-container { width: 38%; }}
@media only screen and (min-width: 1152px) { .col-8.form-container { width: 25.33%; }}
@media only screen and (min-width: 2016px) { .col-8.form-container { width: 12.66%; }}

/* Links */
a {
  color: hsl(190, 50%, 50%);
  font-weight: 300;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-link-container {
  text-align: right;
  width: 50%;
}

.forgot-link-container {
  float: left;
  width: 50%;
}

.clear-container {
  clear: both;
  height: 0%;
}

/* Form inputs and labels */
input {
  height: 32px;
  font-size: 1em;
  border-radius: 3px;
  border-width: 1px;
  border-color: hsl(0, 0%, 85%);
  border-style: solid;
  text-indent: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #85BFFD;
  border-width: 1px;
}

input.invalid-input {
  border-color: red;
}

input.dirty-input.valid-input {
  border-color: hsl(120, 70%, 50%);
}

input.dirty-input.valid-input.empty-input {
  border-color: hsl(0, 0%, 85%);
}

input.show-password {
  width: 15px;
  margin-left: 0px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  bottom: 1.5px;
}

label.show-password-label {
  font-weight: 300;
}

label {
  font-weight: 500;
}

::-webkit-input-placeholder {
  font-weight: 300;
}

:-ms-input-placeholder {
  font-weight: 300;
}

::-ms-input-placeholder {
  font-weight: 300;
}

.label-container {
  margin-bottom: 2%;
}

.input-container {
  margin-bottom: 1%;
}

.optional-field-notification {
  font-size: 0.75em;
  color: gray;
}

/* Buttons */
.btn {
  height: 40px;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: hsl(190, 60%, 50%);
  border: 0px;
  font-size: 1.25em;
  color: white;

  /* for button press effect */
  /*box-shadow: 0px 4px 1px gray;*/
  /*position: relative;*/
}

button:hover {
  animation: darken;
  animation-fill-mode: forwards;

  /* button press effect */
  /*top: 4px;*/
  /*box-shadow: 0px 0px;*/
}

@keyframes darken {
  from { background-color: hsl(190, 60%, 50%); }
  to { background-color: hsl(190, 60%, 40%); }
}

/* Other form elements */
legend {
  text-align: left;
  font-weight: 500;
}

fieldset {
  border-style: solid;
  border-color: hsl(0, 0%, 85%);
  border-top-color: hsl(190, 65%, 50%);
  border-top-width: 5px;
  border-width: 0px;
}

/* Social network logins */
hr {
  margin: 5% auto;
}

/* Validition message */
i.valid-input-icon {
  color: hsl(120, 70%, 50%);
  font-size: 0.9em;
  display: none;
}

i.invalid-input-icon {
  color: red;
  font-size: 0.9em;
  display: none;
}

.invalid-input-message {
  font-weight: 300;
  font-size: 0.8em;
  color: red;
}

.validation-message {
  display: block;
}

.valid-input-message-container,
.invalid-input-message-container {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .invalid-input-message-container {
    right: 17px;
  }

  .validation-message {
    display: inline;
    position: relative;
    bottom: 25.5px;
    left: 105%;
    width: 250px;
  }

  .invalid-input-message {
    margin-left: 1%;
  }

  i.valid-input-icon,
  i.invalid-input-icon {
    display: inline;
  }
}

/* Caps lock */
.caps-lock-notification-container {
  font-weight: 300;
  font-size: 0.8em;
  color: orange;
  visibility: hidden;
}

.show-password-and-caps-lock-notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
