<div class='row col-8 form-container'>

  <div class='nav-link-container' class='row'>
    <a class='nav-link' href='/login'>Log In!</a>
    <a class='nav-link' href='/signup'>Sign Up!</a>
    <a class='nav-link' href='/logout'>Log Out</a>
  </div>

  <a href='http://theoatmeal.com/comics/state_web_summer#tumblr' target='_blank'>
    <img id='page-not-found-image' src='https://upload.wikimedia.org/wikipedia/commons/0/0d/Tumbeasts_sign1.png' alt='404 Page not found'>
  </a>

</div>
