<div class='row col-8 form-container'>
  <form id='forgotpw-form'
        class='form'
        method='post'
        action='/password-recovery/stage1'
        spellcheck="false">
        <!-- method='post' -->
    <fieldset>
      <legend>
        <h1>Please enter your email.</h1>
      </legend>

      {{#error}}
      <div class='message-container error-message'>
        <span class='close-message-container'>
          <i class="close-message btn fa fa-times" aria-hidden="true"></i>
        </span>
        <p class='message'>{{errorMessage}}</p>
      </div>
      {{/error}}

      <div class='label-container'>
        <label for='forgotpw-email'>Email</label>
      </div>
      <div class='input-container'>
        <input id='forgotpw-email'
               type='email'
               form='forgotpw-form'
               name='email'
               pattern='^\S+@\S+\.\S+$'
               maxlength='50'
               required/>

         <span class='validation-message'>
           <span class='valid-input-message-container'>
             <i class="fa fa-check valid-input-icon" aria-hidden="true"></i>
           </span>

           <span class='invalid-input-message-container'>
             <i class="fa fa-times invalid-input-icon" aria-hidden="true"></i>
             <span class='invalid-input-message'>
               Please enter a valid email.
             </span>
           </span>
         </span>
      </div>

      <div class='nav-link-container'>
        <a href='/login' class='nav-link'>Log In.</a>
        <a href='/signup'  class='nav-link' id='signupLink'>Sign Up!</a>
      </div>

      <button form='forgotpw-form' class='btn submit'>Submit</button>

    </fieldset>
  </form>
</div>
