<div class='row col-8 form-container'>

  <form id='forgotpw-form2'
        class='form'
        method='post'
        action='/password-recovery/stage2'
        spellcheck="false">
        <!-- method='post' -->
    <fieldset>
      <legend>
        <h1>Please enter your security code</h1>
      </legend>

      {{#error}}
      <div class='message-container error-message'>
        <span class='close-message-container'>
          <i class="close-message btn fa fa-times" aria-hidden="true"></i>
        </span>
        <p class='message'>{{errorMessage}}</p>
      </div>
      {{/error}}

      {{#tip}}
      <div class='message-container tip-message'>
        <span class='close-message-container'>
          <i class="close-message btn fa fa-times" aria-hidden="true"></i>
        </span>
        <p class='message'>{{message}}</p>
      </div>
      {{/tip}}

      <div class='label-container'>
        <label for='forgotpw-security-code'>Code</label>
      </div>
      <div class='input-container'>
        <input id='forgotpw-security-code'
               type='text'
               form='forgotpw-form2'
               name='code'
               maxlength='6'
               required/>
      </div>

      <div class='nav-link-container'>
        <a id='resend-code-link' class='nav-link'>Resend code.</a>
      </div>

      <div class='nav-link-container'>
        <a href='/login' class='nav-link'>Log In.</a>
        <a href='/signup'  class='nav-link'>Sign Up!</a>
      </div>

      <button form='forgotpw-form2' class='btn submit'>Submit</button>

    </fieldset>
  </form>

  <form id='forgotpw-form2-resend'
        class='form'
        method='post'
        action='/password-recovery/stage2/resend-code'
        spellcheck="false">
 </form>
</div>

<script src='/scripts/passwordRecoveryStage2.js'></script>
