<div class='row col-8 form-container'>
  <form id='signup-form'
        class='form'
        method='post'
        action='/signup'
        spellcheck="false">

    <fieldset>
      <legend>
        <h1>Join today.</h1>
      </legend>

      {{#error}}
      <div class='message-container error-message'>
        <span class='close-message-container'>
          <i class="close-message btn fa fa-times" aria-hidden="true"></i>
        </span>
        <p class='message'>{{errorMessage}}</p>
      </div>
      {{/error}}

        <div class='label-container'>
          <label for='full-name'>Full Name</label>
        </div>
        <div class='input-container'>
          <input id='full-name'
                 type='text'
                 form='signup-form'
                 name='fullName'
                 pattern='^([\x27\x30-\x39\x2C-\x2E\x41-\x5A\x61-\x7A\xC0-\xD6\xD8-\xF6\xF8-\xFF\u0100-\uFFFF]+((\s)?))+[\x27\x30-\x39\x2C-\x2E\x41-\x5A\x61-\x7A\xC0-\xD6\xD8-\xF6\xF8-\xFF\u0100-\uFFFF]+$'
                 maxlength='100'
                 required />
                 <!-- previous pattern -->
                 <!-- [\x27\x30-\x39\x2C-\x2E\x41-\x5A\x61-\x7A\xC0-\xD6\xD8-\xF6\xF8-\xFF\u0100-\uFFFF]+ -->

          <span class='validation-message'>
            <span class='valid-input-message-container bh'>
              <i class="fa fa-check valid-input-icon" aria-hidden="true"></i>
            </span>

            <span class='invalid-input-message-container bh'>
              <i class="fa fa-times invalid-input-icon" aria-hidden="true"></i>
              <span class='invalid-input-message'>
                Please enter a valid name.
              </span>
            </span>
          </span>
        </div>

        <div class='label-container'>
          <label for='company-name'>Company</label>
          <span class='optional-field-notification'>(Optional)</span>
        </div>
        <div class='input-container'>
          <input id='company-name'
                 type='text'
                 form='signup-form'
                 name='companyName'
                 pattern='^([\x27\x30-\x39\x2C-\x2E\x41-\x5A\x61-\x7A\xC0-\xD6\xD8-\xF6\xF8-\xFF\u0100-\uFFFF]+((\s)?))+[\x27\x30-\x39\x2C-\x2E\x41-\x5A\x61-\x7A\xC0-\xD6\xD8-\xF6\xF8-\xFF\u0100-\uFFFF]+$'
                 maxlength='50'
                 class='optional' />

           <span class='validation-message'>
             <span class='valid-input-message-container'>
               <i class="fa fa-check valid-input-icon" aria-hidden="true"></i>
             </span>

             <span class='invalid-input-message-container'>
               <i class="fa fa-times invalid-input-icon" aria-hidden="true"></i>
               <span class='invalid-input-message'>
                 Please enter a valid company name.
               </span>
             </span>
           </span>
        </div>

        <div class='label-container'>
          <label for='signup-email'>Email</label>
        </div>
        <div class='input-container'>
          <input id='signup-email'
                 type='email'
                 form='signup-form'
                 name='email'
                 pattern='^\S+@\S+\.\S+$'
                 maxlength='50'
                 required />

           <span class='validation-message'>
             <span class='valid-input-message-container'>
               <i class="fa fa-check valid-input-icon" aria-hidden="true"></i>
             </span>

             <span class='invalid-input-message-container'>
               <i class="fa fa-times invalid-input-icon" aria-hidden="true"></i>
               <span class='invalid-input-message'>
                 Please enter a valid email.
               </span>
             </span>
           </span>
        </div>

        <div class='label-container'>
          <label for='signup-password'>Password</label>
        </div>
        <div class='input-container'>
          <input id='signup-password'
                 class='password-input'
                 type='password'
                 form='signup-form'
                 name='password'
                 pattern='^\S+$'
                 maxlength="50"
                 required />

           <span class='validation-message'>
             <span class='valid-input-message-container'>
               <i class="fa fa-check valid-input-icon" aria-hidden="true"></i>
             </span>

             <span class='invalid-input-message-container'>
               <i class="fa fa-times invalid-input-icon" aria-hidden="true"></i>
               <span class='invalid-input-message'>
                 Please enter a valid password.
               </span>
             </span>
           </span>
        </div>

        <div class='input-container show-password-and-caps-lock-notification-container'>
          <!-- <span class='show-password-container'> -->
            <label for='signup-show-password' class='btn show-password-label'>
              <input id='signup-show-password' class='btn show-password' type='checkbox' />
              Show Password
            </label>
          <!-- </span> -->
          <span class='caps-lock-notification-container'>
            <i class="fa fa-exclamation-triangle caps-lock-notification-icon" aria-hidden="true"></i>
            <span class='caps-lock-notification'>Caps Lock is on</span>
          </span>
        </div>

        <div class='nav-link-container'>
          <a class='nav-link' href='/password-recovery/stage1'>Forgot Password?</a>
          <a class='nav-link' href='/login' id='login-link'>Log In!</a>
        </div>

        <button type='submit' form='signup-form' class='btn submit'>Sign Up</button>

        <!-- <hr> -->
      <!-- </div> -->
    </fieldset>
  </form>
</div>

<script src='/scripts/signup.js' type='text/javascript'></script>
